#autofil-team1 {
    border-radius: 0px;
    position: absolute;
    z-index: 1; 
    padding-right: 1.9em;
   
}
#autofil-team1 a{
    border-radius: 0px;
}
#autofil-team2 {
    border-radius: 0px;
    position: absolute;
    z-index: 1; 
    padding-right: 1.9em;
   
}
#autofil-team2 a{
    border-radius: 0px;
}

